<div>
    <h1>hola {{user.first_name}}{{user.last_name}}, te comunicamos que tu cuenta ha sido eliminada de la base de datos
        por inactividad. Si deseas vovler a registrarte, puedes hacerlo desde<a href="http://localhost:8080/register">
            este enlace</a></p>
    </h1>
</div>