<h1>BIENVENIDO ADMIN</h1>

<h3><button id="expired">Elimina usuarios expirados</button> </h3>



<h3><button id="users" type="button">Ver usuarios</button></h3>
<div id="usuarios-container"></div>
<h1 class="nombre"></h1>
<h3 class="id"></h3>
<h5 class="role"></h5>
<h4 class="email"></h4>
<br />

<script scr="../public/js/admin.js"></script>
<script src='/js/admin.js'></script>