<div>

    <h1>Ahora, logueate</h1>

    <form id="loginForm">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

</div>
<p><a>Olvidaste tu contraseña?</a><a href="/restorePassword">Reestablécela aquí</a></p>

<p>Tambien puedes ingresar por <a href="/api/sessions/github"><button>github</button></a></p>

<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src="/js/login.js"></script>