{{!-- <form id="form" method="post">
    <div>
        <label for="">
            Title:
        </label>
        <input name="title" type="text" id="">
    </div>
    <div>
        <label for="">
            Description:
        </label>
        <input name="description" type="text" id="">
    </div>
    <div>
        <label for="">
            Price:
        </label>
        <input name="price" type="number" id="">
    </div>
    <div>
        <label for="">
            Code:
        </label>
        <input name="code" type="text" id="">
    </div>
    <div>
        <label for="">
            Stock:
        </label>
        <input name="stock" type="number" id="">
    </div>

    <div>
        <label for="">
            Thumbnails:
        </label>
        <input name="thumbnails" type="file" id="">
    </div>
    <div>
        <button type="submit">Enviar producto</button>
    </div>
</form> --}}


</div>


<div id="productos">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/realtimeproducts.js"></script>