<div>

    <h1>Regístrate</h1>

    <form id="registerForm">

        <label>Nombre</label>
        <input name="name">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

</div>
<p>
    <a>Ya tienes cuenta?</a><a href="/login">Logueate aquí</a>
</p>
<a href="/"><button>ver productos</button>
</a>
<script src="/js/register.js"></script>