<div>
    <h1>Restablece tu contraseña</h1>
    <form id="restoreForm">
        <h4>te enviaremos un correo para restablecer</h4>
        <label>correo para restablecer</label>
        <input name="email">
        {{!-- <label>nueva contrasena</label>
        <input name="password"> --}}
        <input type="submit">
    </form>
</div>
<script src="/js/restorePassword.js">
</script>