<div>
    <h1>Restablece tu contraseña</h1>
    <form id="restoreForm">
        <label>correo para restablecer</label>
        <input name="email">
        <label>nueva contrasena</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/restorePassword.js">
</script>