<h1>ticket</h1>
{{#each docs}}
<div class="product">
    <img class="img" src={{this.product.thumbnail}}>
    <h1 class="nombre">{{this.product.title}}</h1>
    <h5 class="price">{{this.product.price}}</h5>
    <br />
    <h2>precio total {{this.amount}}</h2>
</div>
{{/each}}